body {
  background: #22272e;
  color: #adbac7;
	display: flex;
	flex-direction: column;
}

#title {
	padding: 0;
	margin: 0;
	align-self: center;
}

#codeBox {
	tab-size: 3;
	border-radius: 5px;
	padding: 5px;
	overflow: scroll;
}

#codeSave {
  color: #adbac7;
	align-self: center;
}